* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("./marmol.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
}
.logo-titulo {
    font-family: "Dancing Script", cursive;
    font-size: 42px;
    color: white;
    text-align: center;
    border-radius: 4px;
    margin: auto;
    background-color: black;
  }