* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("./marmol.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
}
.logo-titulo {
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    color: white;
    text-align: center;
    border-radius: 4px;
    margin: auto;
    background-color: black;
}
.lista-registro{
    display: flex;
    justify-content: right;
    font-size: 20px;
    color: white;
    background-color: black;
    text-decoration: none;
}
.link-registro{
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display', serif;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}