* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("./marmol.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
}
.logo-titulo{
    font-family: 'Dancing Script', cursive;
    font-size:42px;
    color: black;
    text-align: center;
    border:solid 5px black;
    border-radius: 4px;
    margin:auto;
    background-color: white;
}
.lista-registro{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 20spx;
    color: white;
    background-color: black;
    margin-bottom: 6px;
    padding: 3px;
}
.link-registro{
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display', serif;
}
.nav-sitio{
    margin: 10px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
/* inicia footer */
.footer{
    text-align: center;
    margin-top: 30px;
    background-color: black;
}
.footer-contacto{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-around;
}
.foot-cont{
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: normal;
    margin-top: 50px;
}
.footer-text{
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: normal;
    margin-top: 50px;
}
.frase-motivadora{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin: 15px;
    padding: 4px;
    text-align: center;
}
.img-fluid{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* servicios */
.d-block {
width: 640px;
height: 500px;
}
.tit-ser{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
/* turnos */
.tit-tur{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin: 15px;
    padding: 4px; 
    font-weight: bold;
}
.form-registro{
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 100%;
    padding: 30px;
    border-radius: 10px;
}
.btn-primary{
    margin: 10px;
}
/* turnos */


